Increase HOSTLEN and RES_HOSTLEN to 255

These are currently set to:

```
#define HOSTLEN 63 /* Length of hostname.  Updated to comply with RFC1123 */
#define RES_HOSTLEN 127 /* big enough to handle addresses in in6.arpa */
```

I suggest that we increase them both to 255 to comply with the various RFCs and accepted practices.

- RFC1123, Section 2.1, states, "Host software MUST handle host names of up to 63 characters and SHOULD handle host names of up to 255 characters."
- RFC1035, Section 2.3.4, states, "Various objects and parameters in the DNS have size limits.  They are
listed below.  Some could be easily changed, others are more fundamental. labels = 63 octets or less, names = 255 octets or less"
- RFC2181, Section 11, states, "A full domain name is limited to 255 octets (including the separators)."

Here are some good write ups about this:
- http://technotes.whw1.com/computer-related/15-internet/15-number-of-characters-in-a-domain-name,-labels,-tld,-and-hostnames
- https://blogs.msdn.microsoft.com/oldnewthing/20120412-00/?p=7873/
